td{
	border: 2px solid black ;
	padding: 3px;
}
.header{
	color: white;
	background: red;
}
.visible{
	display: "";
}
.invisible{
	display: none;
}

#contenidoTabla{
	height: 400px;
	overflow: scroll;
}