#continer-estacion{
	padding-top: 100px;
	height: 100%;
}

.btnSlideBar{
	margin-top: 40px;
	margin-left: 10px;
}

.elementoAnio{
	cursor: pointer;
}
.oculto{
	display: none;
}
.visible{
	display: block;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}